---
import { LOCALES, useTranslations, type Lang } from "@/i18n";
import Layout from "@/layouts/Base.astro";
import PageHeadline from "@/components/PageHeadline.astro";
import { getCollection } from "astro:content";

const locale = Astro.currentLocale as Lang;
const t = useTranslations(locale);

const posts = (await getCollection("blog")).filter(
    (post) => post.id.split("/")[0] === locale,
);

const tags = [...new Set(posts.flatMap((post) => post.data.tags || []))].sort();

const title = t({
    ja: "タグ",
    en: "Tags",
    "zh-cn": "标签",
    ar: "الوسوم",
});

export const getStaticPaths = () =>
    Object.keys(LOCALES).map((lang) => ({
        params: { lang },
    }));
---

<Layout {title}>
    <PageHeadline {title} />
    <ul>
        {tags.map((tag) => <li>{tag}</li>)}
    </ul>
</Layout>
