/* define the layout and structure of the entire page */

.l-header {}

.l-main {
	margin-block-start: var(--sp-m);
}

.l-content {
	max-inline-size: 800px;
	padding-inline: var(--sp-m);
	margin-inline: auto;
}

.l-footer {
	margin-block-start: var(--sp-m);
}