---
import { LOCALES, useTranslations, type Lang } from "@/i18n";
import Layout from "@/layouts/Base.astro";
import PageHeadline from "@/components/PageHeadline.astro";

const locale = Astro.currentLocale as Lang;
const t = useTranslations(locale);

const title = t({
    ja: "約",
    en: "About",
    "zh-cn": "关于",
    ar: "حول",
});

export const getStaticPaths = () =>
    Object.keys(LOCALES).map((lang) => ({
        params: { lang },
    }));
---

<Layout {title}>
    <PageHeadline {title} />
    <p>About page content goes here.</p>
</Layout>
