---
import { LOCALES, useTranslations, type Lang } from "@/i18n";
import Layout from "@/layouts/Base.astro";
import PageHeadline from "@/components/PageHeadline.astro";

const locale = Astro.currentLocale as Lang;
const t = useTranslations(locale);

const title = t({
    ja: "友達",
    en: "Friends",
    "zh-cn": "友链",
    ar: "أصدقاء",
});

export const getStaticPaths = () =>
    Object.keys(LOCALES).map((lang) => ({
        params: { lang },
    }));
---

<Layout {title}>
    <PageHeadline {title} />
    <p>Friends links go here.</p>
</Layout>
